.index-card{
    cursor:pointer;
    margin-left:50px;
    margin-top:40px;
    width:140px;
    height:65px;
    background: orange; 
    border-radius: 10px; 
    border-style: solid;
}
.index-card-change{
    cursor:pointer;
    margin-left:50px;
    margin-top:40px;
    width:140px;
    height:65px;
    background: red; 
    border-radius: 10px; 
    border-style: solid;
}
.detail-card{
    font-size: 11px;
    margin-top:4px;
}
body{
    background-color:#F0EEEA;
    font-family: Kanit,sans-serif;
}

.index_container{
    margin-top: 10px;
    /*overflow: auto;*/
    padding-top:10px;
}
.xxlinex{
    border:1px solid;
}
.index-header{
    color:blue;
    text-align: center;
}
.index-header-detail{
    text-align: center;
}
.row-header{
    color:#E8F1EC;
    display:inline-table;
}
.layout{
    /*overflow: scroll;*/
    text-align: center;
    background-color: #CDCDCD;
    width:1750px;
    height:800px;
    margin-left:50px;
    margin-right:30px;
    border-radius: 20px;
    
}
.index-header{
    
}
.z-depth {
    box-shadow: 
        0 6px 10px 0 rgba(0,0,0,0.10), 
        0 1px 18px 0 rgba(0,0,0,0.12), 
        0 3px 5px -1px rgba(0,0,0,0.3);
}
.btn-focus:hover {
    background: #F4A25F;
    
}
